/* main_page */
.main_page { background: #fff; padding: 0; margin: 0 auto; }


/* header */
header { width: 100%; height: 100px; position: relative; align-items: center; margin: 0 auto;}
.logo { position: absolute; top: 50%; transform: translateY(-50%); left: 48px; }
.gnb { position: absolute; top:0; left: 50%; transform: translateX(-50%); align-items: center;  }
.gnb ul { display: flex; }
.gnb_txt { display:block; height: 100px; line-height: 100px; padding: 0 40px; color: #000; 
}
.gnb ul li a:hover { 
    color: #fff;  background: #000; transition: .3s;
}
.util_menu { height: 100px; display: flex; flex-wrap: nowrap;  position: absolute; 
    top: 0; right: 48px; align-items: center; }
.util_menu ul {
  display: flex;  gap: 36px; align-items: center;
}
.util_menu li { display: flex; }

/* main */
.main_img { 
    width: 100%; height: 1000px; position: relative; margin: 0 auto;
    background: url('../images/main_img.png') no-repeat 50% 50% / cover; }
.main_img_text_wrap { 
    position: absolute; top:418px; left: 210px; 
    display: flex; flex-wrap: wrap; flex-direction: column; gap: 18px;
}
.main_title { font-size: 64px; font-weight: 500; line-height: 72px; letter-spacing: -2px; font-family: "Cormorant Garamond", serif;  }
.main_title .fw-400 { font-size: 64px; font-weight: 600; line-height: 72px; letter-spacing: -2px; font-family: "Cormorant Garamond", serif; }


/* contents */
.contents { display: flex; flex-wrap: wrap; gap: 240px; margin: 0 auto; }


/* brands */
.brands { width: 95%; margin: 0 auto; display: flex; flex-wrap: wrap; flex-direction: column; gap: 64px; padding-top: 120px; }
.brands_title_box { width: 100%; display: flex; flex-wrap: wrap; flex-direction: column; gap:16px; }
.brands_list { width: 100%; }
.brands_box { display: flex; flex-wrap: wrap; flex-direction: column;  }
.brands_box_img_01, .brands_box_img_02, .brands_box_img_03, .brands_box_img_04 { width: 100%; height: 520px; }
.brands_box_img_01 { background: url(../images/brands_box_01.png) no-repeat 50% 50% / cover; transition: .3s; }
.brands_box_img_02 { background: url(../images/brands_box_02.png) no-repeat 50% 50% / cover; transition: .3s; }
.brands_box_img_03 { background: url(../images/brands_box_03.png) no-repeat 50% 50% / cover; transition: .3s; }
.brands_box_img_04 { background: url(../images/brands_box_04.png) no-repeat 50% 50% / cover; transition: .3s; }
.brands_box_img_01:hover { background: url(../images/brands_box_hover_01.png) no-repeat 50% 50% / cover; transition: .3s;}
.brands_box_img_02:hover { background: url(../images/brands_box_hover_02.png) no-repeat 50% 50% / cover; transition: .3s;}
.brands_box_img_03:hover { background: url(../images/brands_box_hover_03.png) no-repeat 50% 50% / cover; transition: .3s;}
.brands_box_img_04:hover { background: url(../images/brands_box_hover_04.png) no-repeat 50% 50% / cover; transition: .3s;}

/* about-us */
.about-us { width: 100%; display: flex; flex-wrap: wrap; flex-direction: column; gap: 128px; }
  
.about-us_title_box { width: 100%; margin: 0 auto; display: flex; flex-wrap: wrap; flex-direction: row; justify-content: space-between; }
  
.contents_subtitle_box { width: 977px; display: flex; flex-wrap: wrap; flex-direction: column; align-items: flex-start; gap: 32px; }
  
.about-us_contents { width: 100%; margin: 0 auto; display: flex; flex-wrap: nowrap; padding: 0; border: 0; box-sizing: border-box; }
.about-us_box { border-right: 3px solid #FFF; box-sizing: border-box; position: relative; overflow: hidden; height: 825px; width: calc(100% / 3);  flex: 0 0 auto; box-sizing: border-box; }
.about-us_box:last-child { border-right: none; }
.about-us_box .about-us_contents_txt_box { position: absolute; bottom: 73px; left: 57px; color: #fff; display: flex; flex-direction: column; }
.about-us_contents_img01, .about-us_contents_img02, .about-us_contents_img03 { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-size: cover; background-position: center; }
  
.about-us_contents_img01 { background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../images/about-us_contents_img01.png) no-repeat 50% 50% / cover; }
.about-us_contents_img02 { background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../images/about-us_contents_img02.png) no-repeat 50% 50% / cover;  }
.about-us_contents_img03 { background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../images/about-us_contents_img03.png) no-repeat 50% 50% / cover; }


/* culture */
.culture { width: 95%; margin: 0 auto; display: flex; flex-wrap: wrap; flex-direction: column; gap: 128px; }
.culture_title_box { width: 100%; display: flex; flex-wrap: wrap; flex-direction: column; gap:16px; }  
.culture_contents_list { width: 100%; margin: 0 auto; display: flex; flex-wrap: wrap; gap: 16px; align-items: flex-start; justify-content: flex-start; }
.culture_box { width:  calc((100% - 48px) / 4);  display: flex; flex-direction: column; gap: 20px;
 }
.culture_box_text_wrap { width: 100%; display: flex; flex-wrap: nowrap; align-items: center; gap: 12px; 
   justify-content: center;   }
.culture_box_text_wrap .contents_body_large { color: #000; }
.culture_box_text_wrap .contents_body_small { color: #000; }
.culture_box_text_wrap .culture_box_line { background: #000; width: 160px; height: 2px; 
 }

.culture_box_img {width: 100%; border-radius: 20px; height: 468px; position: relative; margin: 0 auto; }

.culture_box_img:hover .culture_box_overlay {opacity: 1; }
.culture_box_overlay { position: absolute; inset: 0;  background: rgba(13, 87, 147, 0.8); display: flex; align-items: center; justify-content: center; color: #fff; 
opacity: 0; border-radius: 20px; transition: .3s; padding: 170px 32px; }

.culture_box_img01, .culture_box_img02, .culture_box_img03, .culture_box_img04 { width: 100%; height: 468px; position: relative; margin: 0 auto; border-radius: 20px; }
.culture_box_img01 { background: url(../images/culture_box_img01.png) no-repeat 50% 50% / cover; transition: .3s; }
.culture_box_img02 { background: url(../images/culture_box_img02.png) no-repeat 50% 50% / cover; transition: .3s; }
.culture_box_img03 { background: url(../images/culture_box_img03.png) no-repeat 50% 50% / cover; transition: .3s; }
.culture_box_img04 { background: url(../images/culture_box_img04.png) no-repeat 50% 50% / cover; transition: .3s; }

/* esg */
.esg_img { width: 100%; display: flex; padding: 60px 48px;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../images/esg_img.png) no-repeat 50% 50% / cover; }
.esg_wrap { width:95%; margin: 0 auto; display: flex; flex-wrap: wrap; flex-direction: column; 
    align-items: center;  gap: 128px;  }
.esg_title_box { width: 95%; display: flex; flex-wrap: wrap; 
    flex-direction: column; gap:32px; align-items: center; }
.esg_title_box .contents_title { color: #FFF; text-align: center; }
.esg_title_box .contents_subtitle_small { color: #FFF; text-align: center; }

.esg_list { width: 100%; display: flex; align-items: center; gap: 16px; }
.esg_list_box { width:  calc((100% - 32px) / 3); display: flex; flex-wrap: wrap; flex-direction: column;
align-items: center; gap: 32px; border-right: 1px solid #fff;  } 
.esg_list_box:last-child { border-right: none; } 
.esg_list_box_txt {   display: inline-flex;  align-items: flex-end; }
.esg_list_box .contents_subtitle_medium { color: #FFF; text-align: center; }

/* investors */
.investors { width: 95%; margin: 0 auto; display: flex; flex-wrap: wrap; flex-direction: column; gap: 64px; }
.investors_title_box { width: 100%; display: flex; flex-wrap: wrap; flex-direction: column; gap:16px; } 
.investors_contents { width: 100%; margin: 0 auto; display: flex; flex-wrap: wrap; flex-direction: row; justify-content: space-between; }