/* text */
.gnb_txt { font-size: 18px; font-weight: 500; line-height: auto; letter-spacing: -1px; font-family: Pretendard, sans-serif; }
.btn_txt { font-size: 20px; font-weight: 500; line-height: 36px; letter-spacing: -1px; }
.contents_title { font-size: 40px; font-weight: 700; line-height: 48px; letter-spacing: -1px; }
.content_title_small { font-size: 40px; font-weight: 500; line-height: auto; letter-spacing: -1px; font-family: "Cormorant Garamond", serif; }
.contents_subtitle_small { font-size: 20px; font-weight: 500; line-height: auto; letter-spacing: -0.8px; }
.contents_subtitle_medium { font-size: 24px; font-weight: 500; line-height: 40px; letter-spacing: -0.8px; }
.contents_body_large { font-size: 32px; font-weight: 600; line-height: auto; letter-spacing: -1px; }
.contents_body_small { font-size: 20px; font-weight: 600; line-height: auto; letter-spacing: -1px; }
.contents_body_medium { font-size: 24px; font-weight: 600; line-height: 48px; letter-spacing: -1px; }
.culture_body { font-size: 20px; font-weight: 300; line-height: 32px; letter-spacing: -1px; font-family:Pretendard, sans-serif; }
.footer_menu_txt { font-size: 14px; font-weight: 300; line-height: auto; letter-spacing: -1px; font-family: Pretendard, sans-serif; }
.footer_address_txt { font-size: 14px; font-weight: 300; line-height: auto; letter-spacing: -1px; font-family: Pretendard, sans-serif; }
.esg_list_box_txt { font-size: 96px; font-weight: 700; line-height: auto; letter-spacing: -1px; color: #fff; }
.fw-small { font-size: 32px; font-weight: 300px; line-height: auto; letter-spacing: -1px; color: #fff; }

/* btn */
.btn { 
    width: 215px; height: 56px; background: #000;
    display: flex; justify-content: center; align-items: center; transition: .3s;
}
.btn:hover { background: #fff; border: 1px solid #e9e9e9; } 
.btn .btn_txt { color: #fff; }
.btn:hover .btn_txt { color: #000; }

.about-us_btn_about {
    display: inline-block; padding: 10px 38px 7px 38px; align-items: center;
    border-radius: 30px; border: 1px solid #525252; background: #fff; transition: .3s;
}
.about-us_btn_about .btn_txt { color: #000; }
.about-us_btn_about:hover { background: #000; }
.about-us_btn_about:hover .btn_txt { color: #fff; }   

.investors_contents_btn { display: flex; width: 897px; height: 102px; padding: 30px 40px; align-items: center; gap: 10px; border: 1px solid #525252; background: #fff; transition: .3s; }
.investors_contents_btn .contents_body_medium { color: #000; }
.investors_contents_btn:hover { background: #000; }
.investors_contents_btn .contents_body_medium { color: #fff; }  